@font-face {
    font-family: 'GoodDogregular';
    src: url('../fonts/GoodDog-webfont.eot');
    src: url('../fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GoodDog-webfont.woff') format('woff'),
         url('../fonts/GoodDog-webfont.ttf') format('truetype'),
         url('../fonts/GoodDog-webfont.svg#GoodDogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, body .btn {
	font-family: 'Arial';
	background-color: #fff3d7;
	font-family: 'GoodDogregular';
	font-size: 20px;
}

.panel-title {
	font-size: 36px;
}
#gameTitle {
	text-align: center;
	font-size: 38px;
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

.margin15 {
	margin: 0 15px;
}
.row.margin15 {
	margin:0;
}

.keyText {
	margin-top:21px;
}