@font-face {
    font-family: 'pacificoregular';
    src: url('font/Pacifico-webfont.eot');
    src: url('font/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Pacifico-webfont.woff2') format('woff2'),
         url('font/Pacifico-webfont.woff') format('woff'),
         url('font/Pacifico-webfont.ttf') format('truetype'),
         url('font/Pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Arial';
	background-color: #fff3d7;
	padding: 10px;
}

#gameTitle {
	text-align: center;
	font-family: 'pacificoregular';
	font-size: 38px;
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
.gamePanel {
	padding: 10px;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 6px 0px rgba(50, 50, 50, 0.75);
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: auto;
	float:left;
}
#gameDiv {
	background-color: #D2BA72;
	padding: 0;
	max-width: 640px;
	width: 100%;
}
#cluePanel {
	max-width: 640px;
	width: 100%;
	margin: 15px auto;
}

.content {
	max-width: 640px;
	width: 100%;
	margin: auto;
}

@media (min-width: 1120px) {
	#cluePanel {
		margin: 0 15px;
		max-width: 400px;
	}
	.content {
		max-width: 1070px;
	}
}